$blue : #228be6;
.button {
    color: white;
    font-weight: bold;
    outline: none;
    border-radius: 6px;
    border: none;
    cursor: pointer;

    padding: 16px;
    font-size: 18px;
    background: $blue;

    //사이즈관리
    &.large {
        padding-top: 30px;
        padding-bottom: 30px;
        width: 360px;
    }
    &.medium {
        padding-top: 20px;
        padding-bottom: 20px;
        width: 280px;
    }
    &.small {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 160px;
    }
    &:hover {
        // background: lighten($blue, 40%);        //색상 40% 밝게   : lighten(색상, 수치) 
        background: darken($blue, 10%);        //색상 10% 어둡게       : darken(색상, 수치) 
    }
}