/* Buttons.js할 때 App style */
/* .App {
  width: 512px;
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid black;
  padding: 20px;
} */
/* VariousButtons.js할 때 App style */
.App {
  width: 700px;
  margin: 0 auto;
  margin-top: 80px;
  border: 1px solid black;
  padding: 20px;
}
